body{
    text-align: center;
    background-color: #fbf4f4;
    
}
.card{
    text-align: center;
    margin: 2% 5%;
    height: 90%;
    background-color: rgb(240, 212, 190);
    
}
.row{
    
    padding: 7% 10%;
}
.btn-lg{
    margin: 5% 8% 0 8%;
}
.input{
    text-align: left;
    padding-bottom: 2%;
}
.result{
    text-align: center;
    padding-top: 5%;
    font-size: large;
    font-weight: bold;
    color: #620101;
}

